version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.0

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn install --pure-lockfile

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn lint

      - run: yarn test

      - run: yarn build

  publish:
    docker:
      - image: circleci/node:8.9.0

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn install --pure-lockfile

      - run: npm publish

workflows:
  version: 2
  build:
    jobs:
      - build
  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - publish:
          branches:
              ignore: /.*/
          filters:
            tags:
              only: /^v\d+(\.\d+){2}/
          requires:
            - build
